@media (max-width: 1441px) {
    html {
        font-size: 20px;
    }
    .padding {
            padding-left: 5vw;
            padding-right: 5vw;
    }
    .padding:nth-child(2) {
        margin-left: 0;
        padding-right: 0;
        padding-left: 5vw;
    }
    .padding:nth-child(3) {
        padding-left: 6vw;
    }
    .padding:nth-child(4) {
        margin-left: 5vw;
    }
    .padding:nth-child(6) {
        padding-left: 10vw;
    }
    .menu__list {
        grid-column-gap: 2.2vw;
    }
    .about {
        padding-left: 15vw;
    }
    .about_block3::before {
        width: 6vw;
        margin-top: -14vh;
    }
    .offer__content {
        padding-left: 10vw;
    }
    .content_item3 {
        padding: 5vh 0;
    }
    .gallery {
        height: 200vh;
    }
    .gallery__title.box1 {
        padding-left: 2vw;
        margin-top: 5vh;
    }
    .digital__image img {
        padding-top: 31%;
    }
    .digital__button {
        margin: 45vh 0 0 -35vh;
    }
    .digital__image span {
        margin: -8.5vh 0 0 -4vw;
    }
    .contacts {
        height: 50vh;
    }
}


@media (max-width: 1024px) {
    html {
        font-size: 22px;
    }
    .padding {
        padding-left: 10vw;
    }
    .padding_d:nth-child(2) {
        padding-right: 5vw;
    }
    .padding:nth-child(4) {
        padding-left: 5vw;
    }
    .main {
        max-width: 100vw;
    }
    .about {
        padding-left: 10vw;
    }
    .about_block3::before {
        width: 8.5vw;
    }
    .about_block5 {
        width: 21rem;
        height: 29rem;
        margin-top: 11vh;
    }
    .about__call p {
        margin-top: 4vh;
    }
    .about h4 {
        padding-top: 5vh;
    }
    .offer__content {
        padding-left: 0;
    }
    .content_item1 {
        padding-top: 0;
        font-size: 1.2rem;
    }
    .content_item2 {
        padding-top: 0;
    }
    .content_item3 {
        padding: 3vh 0;
        margin-top: 0;
    }
    .gallery {
        height: 100vh;
    }
    .gallery__item img {
        max-width: 44vw;
    }
    .gallery__button {
        padding: 0 0 7vh 5vw;
    }
    .gallery__button a {
        font-size: 1rem;
    }
    .box5 {
        margin-top: 7vh;
    }
    .item10 {
        margin-right: 15vw;
    }
    .about_trust p {
        margin-right: 0;
        font-size: 1rem;
        padding-right: 2vw;
    }
    .item10 {
        margin-right: 7vw;
    }
    .item3 {
        padding-top: 16vh;
    }
    .item5 {
        padding-top: 16vh;
    }
    .item7 {
        padding-top: 16vh;
    }
    .item9 {
        padding-top: 16vh;
    }
    .digital {
        flex-direction: column;
        min-height: calc(100vh - 100px);
    }
    .digital__image img {
        margin: 0 0 0 13vw;
        padding-top: 0;
    }
    .digital__button {
        margin: 18vh 0 0 -32vh;
    }
    .digital__image span {
        margin: -5vh 0px 0 7vw;
    }
    .digital__content p {
        margin: 4vh 6vw 0vh 1vw;
        line-height: 2rem;
        font-size: 1.3rem;
    }
    .contacts {
        height: calc(80vh - 100px);
    }
    .contacts__form {
        width: 50vw;
        margin-top: 2vh;
    }
    .contacts__form input {
        width: 40vw;
    }
    .contacts__form button {
        width: 40vw;
    }
    .block2 {
        margin-top: -6vh;
        line-height: 1.5rem;
    }
    .block3 a {
        display: block;
    }
    .block5 img {
        min-width: 6vw;
    }
}


@media (max-width: 768px) {
    html {
        font-size: 18px;
    }
    .padding:nth-child(6) {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .padding:nth-child(4) {
        padding-left: 2vw;
    }
    .about {
        max-width: 100vw;
        height: calc(100vh - 100px);
        grid-template: repeat(6, auto) / 1fr;
    }
    .about h2 {
        padding-top: 5vh;
        font-size: 2.5rem;
    }
    .about h4 {
        font-size: 1.5rem;
    }
    .about_block2 {
        margin-top: 6vh;
        z-index: 2;
    }
    .about_block3 {
        grid-row: 4/5;
        grid-column: 1/2;
        font-size: 1.5rem;
        margin-top: 4vh;
        margin-bottom: -2vh;
    }
    .about_block3::before {
        width: 11vw;
        margin-top: -28vh;
        z-index: 3;
    }
    .about_block4 {
        grid-row: 5/6;
        grid-column: 1/2;
        margin-top: 4vh;
        margin-bottom: 8vh;
    }
    .about_block5 {
        grid-row: 3/4;
        grid-column: 1/2;
        max-width: 20.5rem;
        max-height: 20.5rem;
        margin-top: -3vh;
        margin-bottom: -5vh;
        z-index: 1;
    }
    .offer {
        height: calc(100vh - 100px);
    }
    .content_item1 {
        line-height: 1.5rem;
    }
    .gallery {
        height: calc(100vh - 100px);
    }
    .content__gallery {
        padding-top: 0;
    }
    .about_trust p {
        line-height: 1.5rem;
    }
    .digital {
        max-height: calc(100vh - 100px);
    }
    .digital__image img {
        margin: -1vw 0 0 14vw;
        width: 56%;
    }
    .digital__button {
        margin: 15vh 0 0 -31vh;
        width: 12%;
    }
    .digital__image span {
        margin: -5.5vh 0px 0 12vw
    }
    .digital__content p {
        margin: 1vh 8vw 0vh -2vw;
        font-size: 1.2rem;
        line-height: 2.2rem;
        text-align: center;
    }
    .contacts {
        padding-top: 8vh;
        margin: -5vh 0;
    }
    .block1 {
        margin-top: 4vh;
        margin-right: 3vw;
    }
    .block2 {
        margin-top: 1vh;
        padding-bottom: 3vh;
    }
    .block5 {
        margin-top: -5vh;
    }
    .contacts__form {
        width: 58vw;
        height: 51vh;
        margin: 2vh 0 0 0vw;
    }    
    .contacts__form h4 {
        font-size: 1.2rem;
        line-height: 3rem;
        padding-top: 3vh;
    }
    .contacts__form span {
        font-size: 1.2rem;
    }
    .contacts__form input {
        font-size: 1rem;
        padding-left: 2.5vw;
        width: 47vw;
    }
    .contacts__form button {
        width: 47vw;
    }
    .contacts__form p:last-child {
        padding: 1vh 5vw;
    }
}


@media (max-width: 425px) {
    html {
        font-size: 12px;
    }
    .wrapper {
        position: relative;
    }
    .padding:nth-child(3) {
        padding-left: 2vw;
    }
    .about_block2 {
        max-width: 80vw;
    }
    .about_block5 {
        margin-top: -1vh;
    }
    .about_block3::before {
        width: 15vw;
        margin-top: -26vh;
    }
    .about__call p span {
        margin-left: 5vw;
        margin-top: 1vh;
    }
    .about__call p button {
        margin-left: 8vw;
        width: 2.91rem;
        height: 2.91rem;
    }
    .padding_d:nth-child(2) {
        max-width: 50vw;
    }
    .content_item1 {
        grid-column: 1/3;
        line-height: 2.3rem;
        font-size: 1.4rem;
        margin-top: -5vh;
    }
    .content_item2 {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: -1vh;
    }
    .content_item3 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .offer__items {
        padding-top: 15vh;
        margin-right: 0;
    }
    .offer__item h4 {
        margin: 4vw 0vw 0 2vw;
        font-size: 1.5rem;
    }
    .offer__item li {
        font-size: 1.2rem;
        line-height: 1.4rem;
        padding-left: 1vw;
    }
    .gallery {
        padding: 0 2vw;
    }
    .content__gallery {
        max-height: calc(100vh - 100px);
    }
    .gallery__item {
        padding-left: 2vw;
    }
    .gallery__title {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .gallery__title.box1 {
        padding-left: 3vw;
    }    
    .gallery__button a {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .box5 {
        margin-top: 10vh;
    }
    .about_trust {
        display: grid;
        grid-template: repeat(12, auto) / repeat(3, auto);
        min-height: calc(100vh - 100px);
    }
    .about_trust h3 {
        font-size: 1.5rem;
        padding-top: 10%;
        margin-bottom: -6vh;
    }
    .about_trust p {
        line-height: 1.7;
        font-size: 1.1rem;
    }
    .digital {
        min-height: calc(100vh - 100px);
    }
    .item1 {
        grid-row: 1/2;
        grid-column: 1/3;
    }
    .item2 {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-top: 9vh;
    }
    .item3 {
        grid-row: 2/4;
        grid-column: 1/2;
        padding-top: 16vh;
    }
    .item4 {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-top: 9vh;
    }
    .item5 {
        grid-row: 2/4;
        grid-column: 2/3;
        padding-top: 16vh;
    }
    .item6 {
        grid-row: 4/5;
        grid-column: 1/2;
        margin-top: 0vh;
    }
    .item7 {
        grid-row: 4/6;
        grid-column: 1/2;
        margin-top: -10vh;
    }
    .item8 {
        grid-row: 4/5;
        grid-column: 2/3;
        margin-top: 0vh;
    }
    .item9 {
        grid-row: 4/6;
        grid-column: 2/3;
        margin-top: -10vh;
    }
    .item10 {
        margin-top: 4vh;
        grid-row: 6/7;
        grid-column: 1/5;
        border-top: 4px solid rgba(2, 123, 253, 0.15);
    }
    .item11 {
        margin-top: 5vh;
        grid-row: 7/8;
        grid-column: 1/3;
        padding-right: 11vw;
    }
    .item12 {
        margin-top: 5vh;
        grid-row: 8/9;
        grid-column: 1/3;
        padding-right: 5vw;
    }
    .digital__image img {
        margin: 2vw 0 0 15vw;
        width: 50vw;
    }
    .digital__button img{
        margin: -4vh 0 0 18vh;
        width: 66%;
    }
    .digital__button span {
        font-size: 2.5rem;
        margin: -7vh 0 0 36vw;
    }
    .digital__content p {
        margin: 1vh 0vw 0vh -7vw;
        font-size: 1.4rem;
        padding-right: 4vw;
        line-height: 2rem;
    }
    .padding:nth-child(6) {
        padding-left: 5vw;
    }
    .contacts {
        min-height: calc(90vh - 100px);
        display: grid;
        grid-template: repeat(5, 1fr) / 1fr 1fr;
        padding-top: 10vh;
        margin: 0;
        margin-bottom: 10vh;
    }
    .block1 {
        grid-row: 1/2;
        grid-column: 1/5;
        font-family: Open Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        line-height: 1.45rem;
        text-align: center;
        margin-top: -7vh;
    }
    .block2 {
        grid-row: 2/3;
        grid-column: 1/2;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 1.7rem;
        margin-top: -9vh;
        padding-left: 6vw;
    }
    .block3 {
        grid-row: 2/3;
        grid-column: 2/5;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.2rem;
        line-height: 4rem;
        text-align: end;
        margin-top: -10.5vh;
        padding-right: 7vw;
    }
    .block3 a {
        padding-right: 1vw;
    }
    .block4 {
        grid-row: 3/4;
        grid-column: 1/5;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.33rem;
        text-align: center;
        margin-top: 2vh;
    }
    .block5 {
        grid-row: 4/5;
        grid-column: 1/5;
        text-align: center;
        margin-top: -2vh;
    }
    .block5 button {
        padding-right: 2vw;
        background: #E1E8F4;
    }
    .block6 {
        grid-row: 5/6;
        grid-column: 1/5;
        background: linear-gradient(100.74deg, #1C1C1C -7.06%, #0D0D0D 104.89%);
        box-shadow: 0px 15px 20px rgba(23, 29, 38, 0.4);
        border-radius: 5px;
        margin-top: -1vh;
        margin-bottom: -5vh;
    }
    .contacts__form {
        height: 39vh;
        width: 80vw;
        margin-left: 5vw;
    }
    .contacts__form h4 {
        font-size: 1.4rem;
        line-height: 2.2rem;
        padding-top: 1.5vh;
    }
    .contacts__form input {
        width: 32vh;
        height: 6vh;
        font-size: 1.4rem;
        padding-left: 4vw;
    }
    .contacts__form button {
        width: 32vh;
        height: 6vh;
    }
    .contacts__form span {
        font-size: 1.4rem;
    }
}